<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- if current_page.data.description -%>
    <meta name="description" content="<%= current_page.data.description %>">
    <%- end -%>
    <%- if current_page.data.keywords -%>
    <meta name="keywords" content="<%= current_page.data.keywords %>">
    <%- end -%>

    <title><%= current_page.data.title || "Blog" %></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <%= stylesheet_link_tag "application", "highlighting" %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <%= partial "header" %>

          <%= yield -%>

          <%= partial "footer" %>

          <%= partial "yandex_metrika" %>
        </div>
      </div>
    </div>
  </body>
</html>
