!!! 5
%html
  %head
    %title= data.page.title || 'Blog'
    %meta{ charset: 'utf-8' }
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  %body
    .content
      %header
        = link_to 'Blog', '/'
      = yield
      %footer
        Copyright © 2012-2013
        = succeed ',' do
          = link_to 'Dmitry Vorotilin', 'https://github.com/route', target: '_blank'
        = link_to 'Evrone.com', 'http://evrone.com', target: '_blank'
