<%- wrap_layout :application do %>
  <article>
    <h2><%= current_page.title %></h2>
    <div class="tags">
      <%- current_page.data.tags.split(",").map(&:strip).each do |tag| -%>
        <%= link_to tag, "/tags/#{tag}.html" %>
      <%- end -%>
    </div>
    <time datetime="<%= current_page.date.strftime("%Y-%m-%d") %>"><%= current_page.date.strftime("%B %e, %Y") %></time>
    <%= yield %>
    <%- if !development? -%>
    <div class="share">
      <%= link_to "Tweet", "https://twitter.com/share", class: "twitter-share-button", data: { via: "rO_Oute" } %>
      <script type="text/javascript">
        //<![CDATA[
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        //]]>
      </script>
    </div>
    <%- end -%>
  </article>
<% end %>
