---
pageable: true
per_page: 3
changefreq: weekly
description: Hi I'm Dmitry Vorotilin and this is my blog about programming. I mostly write about Ruby, SQL and OS but ain't limited to that.
---

<%- page_articles.each do |article| %>
          <article>
              <header>
                <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
                <time datetime="<%= article.date.strftime("%Y-%m-%d") %>"><%= article.date.strftime("%B %e, %Y") %></time>
              </header>
              <div>
                <%= article.summary %>
              </div>
              <footer>
                <a href="<%= article.url %>">Read more</a>
              </footer>
          </article>
<% end %>

<%= partial "paginate" %>
